@import "./_variables";

.homeContainer {
  color: white;
  background-image: url("../asset/background-home-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 96px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  border: 2px solid red;
  & > div {
    flex: 1;
  }
  .textArea {
    border: 2px solid grey;
    padding-left: 5vw;
  }
  .tagline {
    font-family: $barlowcondense;
    font-size: 4rem;
    letter-spacing: 0.3rem;
  }
  .title {
    font-family: $bellefair;
    font-size: 10rem;
  }
  .content {
    font-family: $barlowcondense;
    font-size: 2.5rem;
    max-width: 47ch;
  }
  .buttonContainer {
    border: 2px solid gray;
    text-align: center;
    .btn {
      font-family: $bellefair;
      font-size: 2.5rem;
      letter-spacing: 2px;
      height: 274px;
      width: 274px;
      border: none;
      border-radius: 50%;
      background-color: white;
      position: relative;
      &:hover {
        cursor: pointer;
        &::before {
          content: "";
          width: calc(274px * 1.2);
          height: calc(274px * 1.2);
          position: absolute;
          top: calc(-274px * 0.1);
          left: calc(-274px * 0.1);
          background-color: rgba($color: #fff, $alpha: 0.1);
          border-radius: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
    background-image: url("../asset/background-home-tablet.jpg");
    .textArea {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      .content {
        padding-left: 4vw;
        padding-right: 4vw;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .homeContainer {
    background-image: url("../asset/background-home-mobile.jpg");
    .tagline {
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  .homeContainer {
    .tagline {
      font-size: 2.5rem;
      text-align: center;
    }
  }
}
