@import "./_variables";
.grid {
  width: calc(100vw - 10vw);
}

.textArea {
  border: 3px solid purple;
  display: flex;
  width: 100%;
  padding-bottom: 5%;
  .links {
      border: 1px solid green;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      border: 1px solid rgba(#fff, 0.25);
      border-radius: 50%;
      color: white; 
      &:hover {
        cursor: pointer;
        border: 1px solid white;
      }
      &.selected {
          background-color: white;
          color: black;
      }  
    }
  }
  .article {
      flex-basis: 80%;
  }
}

.imgContainer {
  grid-row: 1 / span 2;
  text-align: right;
  min-height: calc(100vh - 96px - 5vh - 10px);
  .img {
   min-height: 100%; 
  }
}

.article .tag {
  font-family: $barlowcondense;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.article .name {
  font-family: $bellefair;
  font-size: 5rem;
}

.article .description {
  font-family: $barlowcondense;
  font-size: 2.5rem;
}

@media only screen and (max-width: 478px) {
  .imgContainer {
    min-height: auto;
  }
}
